    /* or : ffd700 */
    
    * {
        margin: 0;
        font-family: 'century gothic';
    }
    
    .button {
        box-shadow: 1px 1px 2px gray, -1px 1px 2px gray, -1px -1px 2px gray, 1px -1px 2px gray;
    }
    
    .centerer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    li {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    .currentPage {
        color: #121223;
        font-weight: bolder;
        border-bottom: solid 3px #121223;
    }
    
    .flexed {
        display: flex;
    }
    
    .flexed__col {
        flex-direction: column;
    }
    
    li {
        margin-right: 20px
    }
    
    .titre {
        width: 30%;
        display: flex;
        justify-content: stretch;
        align-items: centers;
        margin-left: 10px;
    }
    
    .titre .img {
        width: 50px;
        height: 50px;
        background-color: #ffd700;
        color: #121223;
        box-shadow: -2px 0px 4px gray;
        margin-right: -1px;
    }
    
    .img img {
        max-width: 65%;
        margin: auto;
    }
    
    .titre p {
        font-size: x-large;
        font-weight: bold;
        background-color: #121223;
        color: #ffd700;
        border-radius: 0px 10px 10px 0px;
        padding: 5px;
    }
    
    .titre .img,
    .titre p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    body {
        background: url("../images/background5.png") fixed;
    }
    
    header {
        margin-bottom: 50px;
        justify-content: space-between;
        align-items: baseline;
        box-shadow: 0px 4px 4px #121223;
        height: 70px;
        align-items: center;
        color: #121223;
        background-color: #eee;
    }
    
    .logo {
        margin: 5px;
    }
    
    .bottom-links {
        width: 90%;
        display: flex;
        justify-content: flex-end;
    }
    
    .topButton {
        width: 60px;
        height: 60px;
        border-radius: 60px;
        background-color: #ffd700;
        margin: 4px;
    }
    
    .catalogButton {
        min-width: 200px;
        height: 60px;
        border-radius: 60px;
        background-color: #121223;
        color: #ffd700;
    }
    
    footer {
        background-color: #121223;
        color: white;
        width: 100%;
        margin-top: 50px;
        position: relative;
        bottom: 0px;
        align-items: baseline;
    }
    
    hr {
        width: 90%;
        height: 0px;
        color: white;
        margin-left: 10px;
    }
    
    footer section {
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
    }
    
    footer .line {
        margin-top: 20px;
        justify-content: center;
        align-items: flex-end
    }
    
    footer .navs {
        justify-content: center;
    }
    
    footer .navs .newsletter {
        width: auto;
    }
    
    footer .RS {
        width: 20%;
        justify-content: space-between;
    }